.footer {
    display: inline-block;
    position: relative;
    bottom: 0px;
    height: 50px;
    width: 100%;
}


.list-inline {
    display: inline-block;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.header {
    display: inline-block;
    position: absolute;
}

.color-list-inline {
    color: #ffffff;
}

header {
    text-decoration: none;
    color: #ffffff;
}

 /*-----
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
-----*/

.band-images {
    margin: 5px 5px 5px 5px;
    padding: 0 0 0 0;
    border-style: dashed;
    border-width: 10px;
    border-color: #000000;
    
    
    .section-content-hits {
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 0 0 0;
    min-height: 500px;
    display: inline-block;
    position: relative;
}


.hits-column {
    display: inline-block;
    position: relative;
    padding: 0px;
}

.hits-side {
    
}

.hits-side {
    font-family: "Limelight";
    color: #a25d5d;
    padding-left: 20px;
    padding-right: 20px;
}

.hits-side h3 {
    transform: rotate(-15deg);
    padding-left: 20px;
    padding-right: 10px;
}

.hits-centre {
    font-family: "Poiret One";
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 100px;
    position: relative;
}

.hits-left {
    position: relative;
}

.hits-right {
    position: relative;
}

.hits-centre h3 {
    font-family: "Limelight";
    color: #ffffff;
    padding-top: 30px;
}

.hits-left h3 {
    padding-top: 100px;
    padding-bottom: 200px;
}

.hits-right h3 {
    padding-top: 200px;
    padding-bottom: 100px;
}

.hits-centre video {
    width: 320px;
    height: 240px;
}
