.footer {
    display: inline-block;
    position: relative;
    bottom: 0px;
    height: 50px;
    width: 100%;
}


.list-inline {
    display: inline-block;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.header {
    display: inline-block;
    position: absolute;
}

.color-list-inline {
    color: #ffffff;
}

header {
    text-decoration: none;
    color: #ffffff;
}

 /*-----
.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
-----*/

.band-images {
    margin: 5px 5px 5px 5px;
    padding: 0 0 0 0;
    border-style: dashed;
    border-width: 10px;
    border-color: #000000;